<ion-view>	
	<ion-content>	
	<div class="list list-inset">
  		<label class="item item-input">
    		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Buscar...">
	  </label>
	</div>
	<ion-refresher pulling-text="Actualizar..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list>			
			<!-- <div>{{usuario}}</div> -->
			<div class="item item-text-wrap item-button-right" ng-repeat="inv in investigaciones">		    
		    <h2>{{inv.codigo_investigacion}} - {{inv.titulo}}</h2>
		    <p>{{inv.fecha}}</p>
		    <a class="button button-clear button-light" href="#/app/investigacion/{{inv.codigo_investigacion}}">
		      <i class="icon ion-information-circled"></i>
		    </a>
		  </div>		
		</ion-list>

		<ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

	</ion-content>
</ion-view>

<!-- <div class="list">

  <a class="item item-icon-left" href="#" ng-repeat="inv in investigaciones">
    <i class="icon ion-email"></i>
    {{inv.titulo}}
  </a>

</div>

<div class="item item-button-right" ng-repeat="inv in investigaciones">
    {{inv.titulo}}
    <a class="button button-positive" href="#/app/investigacion/{{inv.codigo_investigacion}}">
      <i class="icon ion-help-circled"></i>
    </a>
  </div> -->