<ion-view title="Sugerencias">
    <ion-content overflow-scroll="false">
        <div class="list list-inset">
            <label class="item item-input">
			    <i class="icon ion-android-happy placeholder-icon"></i>
			    <input type="text" placeholder="Nombre" value="Bryan Rojas">
			  </label>
            <label class="item item-input">
			    <i class="icon ion-android-mail placeholder-icon"></i>
			    <input type="text" placeholder="Email">
			  </label>
            <label class="item item-input">                
                <textarea rows="8" cols="10" placeholder="Mensaje"></textarea>
            </label>                    	
            <button class="button button-block button-positive icon-right ion-android-send">Enviar</button>
        </div>        
    </ion-content>
</ion-view>


